.data {

    .header1 {
        display: flex;
        align-items: center;
        margin: 20px 30px 25px 50px;


        h1 {
            margin-right: 900px;
            font-size: 24px;
            font-weight: 700;

        }

        :nth-child(2) {
            margin-right: 15px;
            font-size: 20px;
        }

        :nth-child(3) {
            font-size: 20px;

        }
    }

    .assistant-customization {
        margin-left: 50px;

        :nth-child(1) {
            color: rgba(94, 98, 120, 1);
            font-weight: 600;
            font-size: 16px;
            font-family: Inter;
        }

        .components {
            display: flex;

            .inner-div {
                width: 170px;
                height: auto;
            }
        }

////////Colors.jsx //////

        .bot-theme {
            margin-top: 10px;

            .app-container {

                .header {
                    font-size: 18px;
                    font-weight: 600;
                    color: rgba(94, 98, 120, 1);
                    margin: 0px 0px 0px 0px;
                }

                .picker-container {

                    .picker {
                        position: absolute;
                        z-index: 2;
                        
                      }
                      
                      .overlay {
                        position: fixed;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 1;
                        background-color: rgba(0, 0, 0, 0.3); 
                      }
                      

                    .display-container {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        border: 1px solid rgba(225, 227, 234, 1);
                        padding: 5px;
                        width: 150px;
                        background-color: white;
                        border-radius: 8px;

                        .color-input {
                            margin-right: 10px;
                            padding: 5px;
                            font-size: 16px;
                            width: 100px;
                            text-align: center;
                            border: none;
                            border-radius: 4px;
                        }

                        .color-box {
                            width: 30px;
                            height: 30px;
                            cursor: pointer;
                            border-radius: 6px;
                        }
                    }
                }
            }
        }
        .bot-profile-picture {
            img {
                margin: 15px 0px 15px 15px;
            }

            p {
                color: rgba(161, 165, 183, 1);
                font-weight: 600;
                font-size: 16px;
                font-family: Inter;

            }
        }

        .bot-first-message {
            :nth-child(1) {
                margin-top: 10px;
                font-weight: 600;
                font-size: 18px;
                color: rgba(94, 98, 120, 1);
            }

            input {
                width: 300px;
                margin-top: 10px;
                height: 25px;
                border-radius: 8px;
                border: 1px solid rgba(225, 227, 234, 1);
                padding: 5px;
            }
        }

        button {
            border-radius: 6px;
            background-color: #0C0698;
            width: 140px;
            height: 30px;
            color: white;
            margin-top: 15px;
        }
    }

    .smallbox {
        width: 450px;
        height: 500px;
        background: rgba(255, 255, 255, 1);
        position: absolute;
        top: 12%;
        right: 20%;
        border-radius: 12px;
        box-shadow: 0px 4px 32.4px 0px rgba(0, 0, 0, 0.06);

        .header2 {
            background-color: #0C0698;
            height: 70px;
            border-radius: 12px 12px 0px 0px;

            img {
                margin: 15px 0px 0px 10px;
            }
        }

        .content {

            p {
                font-weight: 700;
                font-family: Helvetica;
                font-size: 20px;
                text-align: center;
                margin-top: 140px;
                background-image: linear-gradient(90deg, #DA73D6 0%, #806CFA 100%);
                color: transparent;
                background-clip: text;
            }
        }

        input {
            background: rgba(235, 235, 235, 1);
            border-radius: 12px;
            height: 40px;
            border: none;
            width: 380px;
            margin: 210px 0px 0px 10px;
        }

        .foot {

            display: flex;
            justify-content: space-between;
            align-items: center;

            .reco {
                margin: 210px 10px 0px 0px;
                width: 40px;
                height: 40px;
            }

        }
    }
}