.sidebar {
    width: 250px;
    height: 100vh;
    background-color: rgba(248, 248, 250, 1);

    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    padding: 15px 15px 15px 15px;

    .inner {
        width: 250px;
        height: 32px;
        margin-left: 7px;

        img {
            width: 100px;
            height: 25px;
        }

        .topicon {
            width: 30px;
            height: 25px;
            margin: 5px 0px 0px 100px;
        }
    }

    .main {
        width: 200px;
        height: 550px;
        margin-top: 10px;
        margin-left: 7px;

        span {
            color: rgba(185, 185, 185, 1);
            font-family: Helvetica;
            font-size: 16px;
            font-weight: 700;
            line-height: 18.4px;
            text-align: center;
        }

        div {
            display: flex;
            align-items: center;
            margin-top: 4px;
            width: Fill (203px)px;
            height: Hug (48px)px;
            padding: 8px 0px 8px 0px;
            gap: 45px;
            border-radius: 8px 0px 0px 0px;
            opacity: 0px;

            .image2 {
                margin-left: 2px;
            }

            a {
                text-decoration: none;
                color: rgba(52, 52, 52, 1);

            }
        }

        :nth-child(2) {
            gap: 28px;

            a {
                margin-left: 0px;
            }

            img {
                width: 26px;
                height: 26px;
            }
        }

        :nth-child(3) {
            gap: 30px;
        }

        :nth-child(4) {
            width: Fill (203px)px;
            height: Hug (48px)px;
            gap: 30px;
            opacity: 0px;

            img {
                width: 25px;
                height: 25px;
            }
        }

        :nth-child(5) {
            gap: 30px;
        }

        :nth-child(6) {
            gap: 27px;
        }

        :nth-child(7) {
            gap: 28px;
        }

        :nth-child(8) {
            gap: 30px;
        }

        :nth-child(9) {
            padding-bottom: 20px;
            gap: 30px;

        }

        :nth-child(10) {
            width: Fill (203px)px;
            height: Hug (32px)px;
            gap: 140px;
            opacity: 0px;

            a {
                font-family: Helvetica;
                font-size: 16px;
                font-weight: 700;
                line-height: 18.4px;
                text-align: center;
                color: rgba(185, 185, 185, 1);

            }
        }

        :nth-child(11) {
            width: Fixed (203px)px;
            height: Hug (48px)px;
            padding: 8px 0px 8px 0px;
            gap: 20px;
            border-radius: 8px 0px 0px 0px;
            opacity: 0px;

            img {
                background-color: rgba(144, 43, 235, 1);
                border-radius: 5px;
            }
        }

        :nth-child(12) {
            width: Fixed (203px)px;
            height: Hug (48px)px;
            padding: 8px 0px 8px 0px;
            gap: 20px;
            border-radius: 8px 0px 0px 0px;
            opacity: 0px;

            img {
                background-color: rgba(144, 43, 235, 1);
                border-radius: 5px;
            }
        }

        :nth-child(13) {
            width: Fill (203px)px;
            height: Hug (40px)px;
            gap: 30px;
            opacity: 0px;
            margin-top: 50px;
        }

        div {
            
                font-family: Helvetica;
                font-size: 16px;
                font-weight: 700;
                line-height: 18.4px;

            
        }
    }
}